@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";
@import "../node_modules/bootstrap/scss/_mixins.scss";
@import "../node_modules/bootstrap/scss/_reboot.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600&display=swap");

/* global */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

$red-color: #d4574a;
$poppins: "Poppins", sans-serif;

$theme-colors: (
  "dark": $red-color,
  "light": #cdd1d9,
);

/* navbar */

.navbar .navbar-brand {
  font-family: $poppins;
  font-weight: 600;
}

/* search filters */

.search-wrapper {
  background-color: #eee;
}

.search-filters {
  max-width: 85%;
}

.search-filters .filter-label {
  background-color: #eee;
  padding: 0;
  text-transform: uppercase;
  font-family: $poppins;
  font-weight: 600;
}

.search-filters .form-select {
  width: 100% !important;
}

.btn-results {
  border-radius: 4px;
  padding: .3rem .8rem;
  font-family: $poppins;
  color: #fff;
  font-weight: 600;
  opacity: 100%;
  transition: opacity .5s ease;
}

.btn-results:hover {
  opacity: 80%;
}

.search-btn {
  border: 1px solid #3b72a9;
  background-color: #457db4;
}

.clear-btn {
  border: 1px solid #e5a955;
  background-color: #e5ac5b;
}

/* bottom nav bar */

.bottom-wrapper {
  background-color: #000;
  padding: 2rem 0;
  font-family: $poppins;
}

.bottom-navbar .bottom-links {
  padding: 0 0.3rem;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  max-width: 95%;
}

.bottom-links .bottom-link {
  font-weight: 600;
  font-size: 0.8rem;

  @media only screen and (max-width: 1024px) {
    padding: 0.3rem 0.2rem;
  }

  @media only screen and (min-width: 1024px) {
    padding: 0.3rem 3rem;
  }
}

.center-icon {
  background-color: #000;
  border: 2px solid #fff;
  padding: 1rem;
  border-radius: 50%;
  bottom: 0;
}

/* subscribe section */
.subscribe-container {
  max-width: 80%;
  font-size: 0.8rem;
  color: #fff;
}

.subscribe-form {
  .subscribe-btn {
    background-color: #444;
    color: #fff;
    height: 25px;
  }

  .input-email,
  .subscribe-btn {
    @media only screen and (max-width: 1024px) {
      width: 10rem;
    }
  }
}

.subs-link {
  color: $red-color;
}

/* footer */

.footer {
  background-color: #1f1f1f;
  padding: 1rem;
}

.legal-span {
  font-family: $poppins;
  font-size: 0.7rem;
  color: #fff;
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
