@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";
@import "../node_modules/bootstrap/scss/_mixins.scss";
@import "../node_modules/bootstrap/scss/_reboot.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600&display=swap');

/* global */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

$red-color: #d4574a;
$poppins: "Poppins", sans-serif;

$theme-colors: (
  "dark": $red-color,
  "light": #cdd1d9,
);

/* navbar */

.navbar .navbar-brand {
  font-family: $poppins;
  font-weight: 600;
}

/* main search */

.wrapper-img {
  background-image: url(/img/violin-bkg.jpg);
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 38rem;
}

.wrapper-img .sl-title {
  color: #fff;
  font-weight: 900;
  padding-top: 10rem;
}

.wrapper-img .search-form {
  background-color: hsla(0, 100%, 100%, 0.8);
  color: #fff;

  @media only screen and (min-width: 768px) {
    width: 60%;
  }
}

.wrapper-img .search-title {
  color: $gray-600;
  font-size: 1rem;
}

/* 4 simple steps */

.steps-container {
  font-family: $poppins;
}

.steps-title {
  color: $red-color;
}

/* bottom section */

.bottom-section {
  font-family: $poppins;
  color: #fff;
  font-weight: 600;
}

.item-find {
  background-color: #e17e65;
}

.bottom-btn {
  padding: 0.5rem;
  background-color: #fafdff;
  font-weight: 900;
}

.btn-find {
  color: #e17e65;
}

.btn-near {
  color: #98a4a5;
}

.item-need {
  background-color: #98a4a5;
}

.item-anytime {
  background-color: #509bd7;
}

/* bottom nav bar */

.bottom-wrapper {
  background-color: #000;
  padding: 2rem 0;
  font-family: $poppins;
}

.bottom-navbar .bottom-links {
  padding: 0 0.3rem;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  max-width: 95%;
}

.bottom-links .bottom-link {
  font-weight: 600;
  font-size: 0.8rem;

  @media only screen and (max-width: 1024px) {
    padding: 0.3rem 0.2rem;
  }

  @media only screen and (min-width: 1024px) {
    padding: 0.3rem 3rem;
  }
}

.center-icon {
  background-color: #000;
  border: 2px solid #fff;
  padding: 1rem;
  border-radius: 50%;
  bottom: 0;
}

/* subscribe section */
.subscribe-container {
  max-width: 80%;
  font-size: 0.8rem;
  color: #fff;
}

.subscribe-form {
  .subscribe-btn {
    background-color: #444;
    color: #fff;
    height: 25px;
    opacity: 100%;
    transition: opacity .5s ease;
  }

  .subscribe-btn:hover {
    opacity: 80%;
  }

  .input-email,
  .subscribe-btn {
    @media only screen and (max-width: 1024px) {
      width: 10rem;
    }
  }
}

.subs-link {
  color: $red-color;
}

/* footer */

.footer {
  background-color: #1f1f1f;
  padding: 1rem;
}

.legal-span {
  font-family: $poppins;
  font-size: 0.7rem;
  color: #fff;
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
